<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Edit your Listing</h3>

    <form action="/listings/<%= listing._id %>?_method=PUT" method="POST">
        <input name="listing[title]" value="<%= listing.title %>" type="text" >
        <br></br>
        <textarea name="listing[description]" rows="4" cols="50"><%= listing.description %></textarea>
        <br></br>
        <input name="listing[image]" value="<%= listing.image %>" type="text">
        <br></br>
        <input name="listing[price]" value="<%= listing.price %>" type="number" min="0" step="0.01">
        <br></br>
        <input name="listing[location]" value="<%= listing.location %>" type="text" >
        <br></br>
        <input name="listing[country]" value="<%= listing.country %>" type="text" >
        <br></br>
        <button type="submit">Edit</button>
    </form>
</body>
</html>